<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arj.hicarehygiene">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".activities.AddComplaintActivity"></activity>
        <activity android:name=".activities.ComplaintDetailActivity"
            android:parentActivityName=".activities.HomeActivity"/>
        <activity android:name=".activities.MyServiceDetailActivity"
            android:parentActivityName=".activities.HomeActivity"/>
        <activity
            android:name=".activities.DashboardActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity
            android:name=".activities.ComplaintActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.UserDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDlFIo0GBQ6MtSme-d32hhfK57_3hTncxw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.OtherActivity" />
        <activity android:name=".activities.OrderViewActivity" />
        <activity android:name=".BaseApplication" />


        <receiver
            android:name=".utils.SMSListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.FetchAddressIntentService"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e955bd234759c6e2000206ddccc659455261eefc" />
    </application>

</manifest>